<a href="https://colab.research.google.com/github/ahmadr9279/Data-Analytics-course/blob/main/Ahmad_Rabah_2_6%2C_2_7_Dictionaries_and_Functions_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries

In [ ]:
patient_1 = {'firstname':'John','lastname':'Smith'}

In [ ]:
print(patient_1['firstname'])
print(patient_1['lastname'])
patient_1['last_exam'] = 'echo'
print(patient_1['last_exam'])

John
Smith
echo

In [ ]:
patient_name = patient_1['firstname']
print('Hello '+patient_name)

Hello John

In [ ]:
patient_2 = {}

patient_2['first_name'] = 'blah'
patient_2['last_name'] = 'bla'
print(patient_2)
del patient_2['first_name']
print(patient_2)

{'first_name': 'blah', 'last_name': 'bla'}
{'last_name': 'bla'}

In [ ]:
patient_3 = {
    'first_name': 'bugs',
    'last_name': 'bunny',
    'mrn': '00000000',
    'dob': '06251956'
}
print(patient_3)

{'first_name': 'bugs', 'last_name': 'bunny', 'mrn': '00000000', 'dob': '06251956'}

In [ ]:
person = {'first name':'Benjamin', 'last_name': 'Franklin', 'age': '21', 'city': 'philadelphia', 'fact': 'he\'s on the $100 bill'}
print(person)

{'first name': 'Benjamin', 'last_name': 'Franklin', 'age': '21', 'city': 'philadelphia', 'fact': "he's on the $100 bill"}

In [ ]:
friends = {'tommy':'15',
           'bobby': '21',
           'timmy': '17',
           'billy': '19',
           'bob': '18'}
print(friends)

{'tommy': '15', 'bobby': '21', 'timmy': '17', 'billy': '19', 'bob': '18'}

In [ ]:
vocab_words = {'list':'holds multiple values','boolean':'a true or false statement', 'float': 'a number that has a decimal'}
print(vocab_words)

{'list': 'holds multiple values', 'boolean': 'a true or false statement', 'float': 'a number that has a decimal'}

In [ ]:
for key, value in friends.items():
  print(key.title()+':'+ value)

Tommy:15
Bobby:21
Timmy:17
Billy:19
Bob:18

In [ ]:
num = 1

while num <=5:
  print(num)
  num +=1

1
2
3
4
5

In [ ]:
prompt = 'Input a message. I will repeat it until you type quit'
message = ''

while message != 'quit':
  message = input(prompt)
  print(message)

Input a message. I will repeat it until you type quithi
hi
Input a message. I will repeat it until you type quithi
hi
Input a message. I will repeat it until you type quitno
no
Input a message. I will repeat it until you type quitquit
quit

In [ ]:
active = True

while active:
  message = input(prompt)
  if message == 'quit':
    active = False
  else:
    print(message)

Input a message. I will repeat it until you type quitmo
mo
Input a message. I will repeat it until you type quitquit

In [ ]:
def greeting(name):
  ''' this is a function '''
  print('Hello there, '+name+'!')
greeting('Ahmad')

Hello there, Ahmad!

In [ ]:
def your_age(age):
  print('Your age is '+ str(age)+'!')

your_age(15)

Your age is 15!

In [ ]:
def origin(city, country='united states'):
  print('You are from '+city.title()+', '+country.title())

origin('new york','united states')
origin('albany', 'united states')
origin('london','the united kingdom')

You are from New York, United States
You are from Albany, United States
You are from London, The United Kingdom